.texto-menor {
    font-size: 13px;
}

.divs-facilidades {
    width: 325px;
}

.div-novidades {
    width: 325px;
}

.verde-limao {
    color: #DAFF01;
}

.botao-lilas {
    background-color: #9353FF;
}


@media (min-width: 768px) {
    .div-novidades {
        width: 696px;
    }

}